.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.list {
  margin: 20px 0;
}

.list-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
